
.navbar{
  display:flex;
  justify-content: space-around;
  padding:2vh;
  box-shadow: 10px 1px 100px 1px rgb(211, 211, 211);;
}
.logo img{
  width:40vh;
}
.nav-links{
  display:flex;
  justify-content: space-around;
  text-decoration:none;
  list-style: none;

}
.nav-links li{
  padding:0vh 3vh;
  cursor:pointer;
}